
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img
            src="<%= asset_path('iconic2.png') %>"
            class="img-fluid"
            alt="Sample image"
          />
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>

              <%= render "devise/shared/error_messages", resource: resource %>
            <div class="divider d-flex align-items-center my-4">
              <h1>Sign up</h1>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <%= f.label :email, :class=>'form-label'%><br />
              <%= f.email_field :email, autofocus: true, autocomplete:
              "email",:class=>"form-control form-control-lg",:placeholder=>"Enter a valid email address" %>
            </div>
            <div class="form-outline mb-3">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password",:class=>"form-control form-control-lg",:placeholder=>"Enter password" %>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-3">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password",:class=>"form-control form-control-lg",:placeholder=>"Enter password confirmation" %>
            </div>
            <div class="d-grid m-2">
              <%= f.submit "Sign up", :class => 'btn btn-primary ' %>
            </div>
            <div class="d-grid m-2">
              <a href="/users/sign_in" class="btn btn-secondary">Log In</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<% end %>

